:root {
  --main-color: #2196f3;
  --second-color: #009688;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.game {
  background-color: #eee;
  height: 100vh;
}
.container {
  margin: auto;
  max-width: 900px;
}
.name {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.message {
  background-color: #eee;
  padding: 15px;
  margin: 15px 0;
  text-align: center;
  border-radius: 6px;
}
.message span {
  font-weight: bold;
  color: var(--second-color);
}

.message span::before {
  content: "[ ";
}
.message span::after {
  content: " ]";
}
.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: var(--second-color);
  padding: 20px;
  cursor: pointer;
}
.the-word {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  user-select: none;
  color: var(--main-color);
}
.input {
  margin: 15px 0;
  width: 100%;
  display: block;
  padding: 15px;
  font-size: 20px;
  border: 3px solid var(--main-color);
  text-align: center;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: var(--main-color);
}
.input:focus {
  outline: none;
}
.upcoming-words {
  padding: 15px;
  margin: 15px 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upcoming-words div {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}
.control {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
}
.control span {
  font-weight: bold;
  padding: 5px;
  color: var(--second-color);
}
.finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}
.finish .good {
  color: var(--main-color);
}
.finish .bad {
  color: red;
}
.levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--main-color);
  font-weight: bold;
  font-size: 17px;
  padding: 10px;
}
.levels div {
  margin: 5px;
  border: 1px solid var(--second-color);
  padding: 5px;
  border-radius: 6px;
  width: 76.7px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
.levels div:hover {
  border: 1px solid var(--main-color);
  color: var(--second-color);
}
